:root{
    --color-grey: #c5bcba;
    --color-white: #FFFFFF;
    --color-red: #FF4343;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
  }


* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}